
#content{
    display:flex;
}
#sideBar{
    display: flex;
    border-style: solid;
    flex-direction: column;
    margin-bottom: 30px;
    justify-content: center;
    align-content: center;
}
#todoCards {
    display: flex;
}
.todoCard{
    display:flex;
    flex-direction: column;
    border-style: solid;
    width: 20vw;
    margin: 5px 2.5vw 5px 2.5vw;
    height: 80px;
}

.projectSubmitButton, .addProjectButton{
    border-style: solid;
    border-color: orange;
    cursor: pointer;
    padding: 10px 15px;
    color: black;
    border-radius: 5px;
    background: lightcoral;
    box-shadow: 6px 6px 29px -4px rgba(0,0,0,0.25);
    margin-top: 25px;
    text-decoration:none;
    text-align: center;
}