#content{
    display: flex;
    row-gap: 10px;
    column-gap: 10px;
}

.sidebar{
    border-style: solid;
    border-color: black;
    width: 15vw;
    height: 50vh;
}
.projectList{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.toDoCards{
    display: flex;
}
.todoCard{
    display:flex;
    flex-direction: column;
    margin: 10px 10px 10px 10px;
    border-style: solid;
    height: 20vh;
    width: 20vw;
}

.title, .duedate{
    display:flex;
    justify-content: center;
    align-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 50vh;
}